


.l07-1 {

}
.l07-2 {
    margin-left: 12.5vw;
}
.l07-3 {
    margin-left: 25vw;
}
.l07-4 {
    margin-left: 37.5vw;
}
.l07-5 {
    margin-left: 50vw;
}
.l07-6 {
    margin-left: 62.5vw;
}
.l07-7 {
    margin-left: 75vw;
}
.l07-8 {
    margin-left: 87.5vw;
}

.l07-9 {
    margin-bottom: 8.333vh;
}
.l07-10 {
    margin-left: 12.5vw;
    margin-bottom: 8.333vh;
}
.l07-11 {
    margin-left: 25vw;
    margin-bottom: 8.333vh;
}
.l07-12 {
    margin-left: 37.5vw;
    margin-bottom: 8.333vh;
}
.l07-13 {
    margin-left: 50vw;
    margin-bottom: 8.333vh;
}
.l07-14 {
    margin-left: 62.5vw;
    margin-bottom: 8.333vh;
}
.l07-15 {
    margin-left: 75vw;
    margin-bottom: 8.333vh;
}
.l07-16 {
    margin-left: 87.5vw;
    margin-bottom: 8.333vh;
}


.l07-17 {
    margin-bottom: 16.666vh;
}
.l07-18 {
    margin-left: 12.5vw;
    margin-bottom: 16.666vh;
}
.l07-19 {
    margin-left: 25vw;
    margin-bottom: 16.666vh;
}
.l07-20 {
    margin-left: 37.5vw;
    margin-bottom: 16.666vh;
}
.l07-21 {
    margin-left: 50vw;
    margin-bottom: 16.666vh;
}
.l07-22 {
    margin-left: 62.5vw;
    margin-bottom: 16.666vh;
}
.l07-23 {
    margin-left: 75vw;
    margin-bottom: 16.666vh;
}
.l07-24 {
    margin-left: 87.5vw;
    margin-bottom: 16.666vh;
}


.l07-25 {
    margin-bottom: 25vh;
}
.l07-26 {
    margin-left: 12.5vw;
    margin-bottom: 25vh;
}
.l07-27 {
    margin-left: 25vw;
    margin-bottom: 25vh;
}
.l07-28 {
    margin-left: 37.5vw;
    margin-bottom: 25vh;
}
.l07-29 {
    margin-left: 50vw;
    margin-bottom: 25vh;
}
.l07-30 {
    margin-left: 62.5vw;
    margin-bottom: 25vh;
}
.l07-31 {
    margin-left: 75vw;
    margin-bottom: 25vh;
}
.l07-32 {
    margin-left: 87.5vw;
    margin-bottom: 25vh;
}



.l07-33 {
    margin-bottom: 33.333vh;
}
.l07-34 {
    margin-left: 12.5vw;
    margin-bottom: 33.333vh;
}
.l07-35 {
    margin-left: 25vw;
    margin-bottom: 33.333vh;
}
.l07-36 {
    margin-left: 37.5vw;
    margin-bottom: 33.333vh;
}
.l07-37 {
    margin-left: 50vw;
    margin-bottom: 33.333vh;
}
.l07-38 {
    margin-left: 62.5vw;
    margin-bottom: 33.333vh;
}
.l07-39 {
    margin-left: 75vw;
    margin-bottom: 33.333vh;
}
.l07-40 {
    margin-left: 87.5vw;
    margin-bottom: 33.333vh;
}



.l07-41 {
    margin-bottom: 41.666vh;
}
.l07-42 {
    margin-left: 12.5vw;
    margin-bottom: 41.666vh;
}
.l07-43 {
    margin-left: 25vw;
    margin-bottom: 41.666vh;
}
.l07-44 {
    margin-left: 37.5vw;
    margin-bottom: 41.666vh;
}
.l07-45 {
    margin-left: 50vw;
    margin-bottom: 41.666vh;
}
.l07-46 {
    margin-left: 62.5vw;
    margin-bottom: 41.666vh;
}
.l07-47 {
    margin-left: 75vw;
    margin-bottom: 41.666vh;
}
.l07-48 {
    margin-left: 87.5vw;
    margin-bottom: 41.666vh;
}



.l07-49 {
    margin-bottom: 50vh;
}
.l07-50 {
    margin-left: 12.5vw;
    margin-bottom: 50vh;
}
.l07-51 {
    margin-left: 25vw;
    margin-bottom: 50vh;
}
.l07-52 {
    margin-left: 37.5vw;
    margin-bottom: 50vh;
}
.l07-53 {
    margin-left: 50vw;
    margin-bottom: 50vh;
}
.l07-54 {
    margin-left: 62.5vw;
    margin-bottom: 50vh;
}
.l07-55 {
    margin-left: 75vw;
    margin-bottom: 50vh;
}
.l07-56 {
    margin-left: 87.5vw;
    margin-bottom: 50vh;
}



.l07-57 {
    margin-bottom: 58.333vh;
}
.l07-58 {
    margin-left: 12.5vw;
    margin-bottom: 58.333vh;
}
.l07-59 {
    margin-left: 25vw;
    margin-bottom: 58.333vh;
}
.l07-60 {
    margin-left: 37.5vw;
    margin-bottom: 58.333vh;
}
.l07-61 {
    margin-left: 50vw;
    margin-bottom: 58.333vh;
}
.l07-62 {
    margin-left: 62.5vw;
    margin-bottom: 58.333vh;
}
.l07-63 {
    margin-left: 75vw;
    margin-bottom: 58.333vh;
}
.l07-64 {
    margin-left: 87.5vw;
    margin-bottom: 58.333vh;
}



.l07-65 {
    margin-bottom: 66.666vh;
}
.l07-66 {
    margin-left: 12.5vw;
    margin-bottom: 66.666vh;
}
.l07-67 {
    margin-left: 25vw;
    margin-bottom: 66.666vh;
}
.l07-68 {
    margin-left: 37.5vw;
    margin-bottom: 66.666vh;
}
.l07-69 {
    margin-left: 50vw;
    margin-bottom: 66.666vh;
}
.l07-70 {
    margin-left: 62.5vw;
    margin-bottom: 66.666vh;
}
.l07-71 {
    margin-left: 75vw;
    margin-bottom: 66.666vh;
}
.l07-72 {
    margin-left: 87.5vw;
    margin-bottom: 66.666vh;
}



.l07-73 {
    margin-bottom: 75vh;
}
.l07-74 {
    margin-left: 12.5vw;
    margin-bottom: 75vh;
}
.l07-75 {
    margin-left: 25vw;
    margin-bottom: 75vh;
}
.l07-76 {
    margin-left: 37.5vw;
    margin-bottom: 75vh;
}
.l07-77 {
    margin-left: 50vw;
    margin-bottom: 75vh;
}
.l07-78 {
    margin-left: 62.5vw;
    margin-bottom: 75vh;
}
.l07-79 {
    margin-left: 75vw;
    margin-bottom: 75vh;
}
.l07-80 {
    margin-left: 87.5vw;
    margin-bottom: 75vh;
}



.l07-81 {
    margin-bottom: 83.333vh;
}
.l07-82 {
    margin-left: 12.5vw;
    margin-bottom: 83.333vh;
}
.l07-83 {
    margin-left: 25vw;
    margin-bottom: 83.333vh;
}
.l07-84 {
    margin-left: 37.5vw;
    margin-bottom: 83.333vh;
}
.l07-85 {
    margin-left: 50vw;
    margin-bottom: 83.333vh;
}
.l07-86 {
    margin-left: 62.5vw;
    margin-bottom: 83.333vh;
}
.l07-87 {
    margin-left: 75vw;
    margin-bottom: 83.333vh;
}
.l07-88 {
    margin-left: 87.5vw;
    margin-bottom: 83.333vh;
}



.l07-89 {
    margin-bottom: 91.666vh;
}
.l07-90 {
    margin-left: 12.5vw;
    margin-bottom: 91.666vh;
}
.l07-91 {
    margin-left: 25vw;
    margin-bottom: 91.666vh;
}
.l07-92 {
    margin-left: 37.5vw;
    margin-bottom: 91.666vh;
}
.l07-93 {
    margin-left: 50vw;
    margin-bottom: 91.666vh;
}
.l07-94 {
    margin-left: 62.5vw;
    margin-bottom: 91.666vh;
}
.l07-95 {
    margin-left: 75vw;
    margin-bottom: 91.666vh;
}
.l07-96 {
    margin-left: 87.5vw;
    margin-bottom: 91.666vh;
}




.l08-1 {

}
.l08-2 {
    margin-left: 12.5vw;
}
.l08-3 {
    margin-left: 25vw;
}
.l08-4 {
    margin-left: 37.5vw;
}
.l08-5 {
    margin-left: 50vw;
}
.l08-6 {
    margin-left: 62.5vw;
}
.l08-7 {
    margin-left: 75vw;
}
.l08-8 {
    margin-left: 87.5vw;
}

.l08-9 {
    margin-top: 8.333vh;
}
.l08-10 {
    margin-left: 12.5vw;
    margin-top: 8.333vh;
}
.l08-11 {
    margin-left: 25vw;
    margin-top: 8.333vh;
}
.l08-12 {
    margin-left: 37.5vw;
    margin-top: 8.333vh;
}
.l08-13 {
    margin-left: 50vw;
    margin-top: 8.333vh;
}
.l08-14 {
    margin-left: 62.5vw;
    margin-top: 8.333vh;
}
.l08-15 {
    margin-left: 75vw;
    margin-top: 8.333vh;
}
.l08-16 {
    margin-left: 87.5vw;
    margin-top: 8.333vh;
}


.l08-17 {
    margin-top: 16.666vh;
}
.l08-18 {
    margin-left: 12.5vw;
    margin-top: 16.666vh;
}
.l08-19 {
    margin-left: 25vw;
    margin-top: 16.666vh;
}
.l08-20 {
    margin-left: 37.5vw;
    margin-top: 16.666vh;
}
.l08-21 {
    margin-left: 50vw;
    margin-top: 16.666vh;
}
.l08-22 {
    margin-left: 62.5vw;
    margin-top: 16.666vh;
}
.l08-23 {
    margin-left: 75vw;
    margin-top: 16.666vh;
}
.l08-24 {
    margin-left: 87.5vw;
    margin-top: 16.666vh;
}


.l08-25 {
    margin-top: 25vh;
}
.l08-26 {
    margin-left: 12.5vw;
    margin-top: 25vh;
}
.l08-27 {
    margin-left: 25vw;
    margin-top: 25vh;
}
.l08-28 {
    margin-left: 37.5vw;
    margin-top: 25vh;
}
.l08-29 {
    margin-left: 50vw;
    margin-top: 25vh;
}
.l08-30 {
    margin-left: 62.5vw;
    margin-top: 25vh;
}
.l08-31 {
    margin-left: 75vw;
    margin-top: 25vh;
}
.l08-32 {
    margin-left: 87.5vw;
    margin-top: 25vh;
}



.l08-33 {
    margin-top: 33.333vh;
}
.l08-34 {
    margin-left: 12.5vw;
    margin-top: 33.333vh;
}
.l08-35 {
    margin-left: 25vw;
    margin-top: 33.333vh;
}
.l08-36 {
    margin-left: 37.5vw;
    margin-top: 33.333vh;
}
.l08-37 {
    margin-left: 50vw;
    margin-top: 33.333vh;
}
.l08-38 {
    margin-left: 62.5vw;
    margin-top: 33.333vh;
}
.l08-39 {
    margin-left: 75vw;
    margin-top: 33.333vh;
}
.l08-40 {
    margin-left: 87.5vw;
    margin-top: 33.333vh;
}



.l08-41 {
    margin-top: 41.666vh;
}
.l08-42 {
    margin-left: 12.5vw;
    margin-top: 41.666vh;
}
.l08-43 {
    margin-left: 25vw;
    margin-top: 41.666vh;
}
.l08-44 {
    margin-left: 37.5vw;
    margin-top: 41.666vh;
}
.l08-45 {
    margin-left: 50vw;
    margin-top: 41.666vh;
}
.l08-46 {
    margin-left: 62.5vw;
    margin-top: 41.666vh;
}
.l08-47 {
    margin-left: 75vw;
    margin-top: 41.666vh;
}
.l08-48 {
    margin-left: 87.5vw;
    margin-top: 41.666vh;
}



.l08-49 {
    margin-top: 50vh;
}
.l08-50 {
    margin-left: 12.5vw;
    margin-top: 50vh;
}
.l08-51 {
    margin-left: 25vw;
    margin-top: 50vh;
}
.l08-52 {
    margin-left: 37.5vw;
    margin-top: 50vh;
}
.l08-53 {
    margin-left: 50vw;
    margin-top: 50vh;
}
.l08-54 {
    margin-left: 62.5vw;
    margin-top: 50vh;
}
.l08-55 {
    margin-left: 75vw;
    margin-top: 50vh;
}
.l08-56 {
    margin-left: 87.5vw;
    margin-top: 50vh;
}



.l08-57 {
    margin-top: 58.333vh;
}
.l08-58 {
    margin-left: 12.5vw;
    margin-top: 58.333vh;
}
.l08-59 {
    margin-left: 25vw;
    margin-top: 58.333vh;
}
.l08-60 {
    margin-left: 37.5vw;
    margin-top: 58.333vh;
}
.l08-61 {
    margin-left: 50vw;
    margin-top: 58.333vh;
}
.l08-62 {
    margin-left: 62.5vw;
    margin-top: 58.333vh;
}
.l08-63 {
    margin-left: 75vw;
    margin-top: 58.333vh;
}
.l08-64 {
    margin-left: 87.5vw;
    margin-top: 58.333vh;
}



.l08-65 {
    margin-top: 66.666vh;
}
.l08-66 {
    margin-left: 12.5vw;
    margin-top: 66.666vh;
}
.l08-67 {
    margin-left: 25vw;
    margin-top: 66.666vh;
}
.l08-68 {
    margin-left: 37.5vw;
    margin-top: 66.666vh;
}
.l08-69 {
    margin-left: 50vw;
    margin-top: 66.666vh;
}
.l08-70 {
    margin-left: 62.5vw;
    margin-top: 66.666vh;
}
.l08-71 {
    margin-left: 75vw;
    margin-top: 66.666vh;
}
.l08-72 {
    margin-left: 87.5vw;
    margin-top: 66.666vh;
}



.l08-73 {
    margin-top: 75vh;
}
.l08-74 {
    margin-left: 12.5vw;
    margin-top: 75vh;
}
.l08-75 {
    margin-left: 25vw;
    margin-top: 75vh;
}
.l08-76 {
    margin-left: 37.5vw;
    margin-top: 75vh;
}
.l08-77 {
    margin-left: 50vw;
    margin-top: 75vh;
}
.l08-78 {
    margin-left: 62.5vw;
    margin-top: 75vh;
}
.l08-79 {
    margin-left: 75vw;
    margin-top: 75vh;
}
.l08-80 {
    margin-left: 87.5vw;
    margin-top: 75vh;
}



.l08-81 {
    margin-top: 83.333vh;
}
.l08-82 {
    margin-left: 12.5vw;
    margin-top: 83.333vh;
}
.l08-83 {
    margin-left: 25vw;
    margin-top: 83.333vh;
}
.l08-84 {
    margin-left: 37.5vw;
    margin-top: 83.333vh;
}
.l08-85 {
    margin-left: 50vw;
    margin-top: 83.333vh;
}
.l08-86 {
    margin-left: 62.5vw;
    margin-top: 83.333vh;
}
.l08-87 {
    margin-left: 75vw;
    margin-top: 83.333vh;
}
.l08-88 {
    margin-left: 87.5vw;
    margin-top: 83.333vh;
}



.l08-89 {
    margin-top: 91.666vh;
}
.l08-90 {
    margin-left: 12.5vw;
    margin-top: 91.666vh;
}
.l08-91 {
    margin-left: 25vw;
    margin-top: 91.666vh;
}
.l08-92 {
    margin-left: 37.5vw;
    margin-top: 91.666vh;
}
.l08-93 {
    margin-left: 50vw;
    margin-top: 91.666vh;
}
.l08-94 {
    margin-left: 62.5vw;
    margin-top: 91.666vh;
}
.l08-95 {
    margin-left: 75vw;
    margin-top: 91.666vh;
}
.l08-96 {
    margin-left: 87.5vw;
    margin-top: 91.666vh;
}






